.grid-container {
  display: grid;
  grid-template-columns: 250px 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas: "sidebar header header header" "sidebar main main main";
  height: 100vh;
}
@media screen and (max-width: 992px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas: "header" "main";
  }
}
.header {
  grid-area: header;
  position: sticky;
  top: 0;
  padding: 0.5rem 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: var(--bg-hearder-sidebar);
}
.header-content {
  display: flex;
  justify-content: space-between;
}
.menubar-icon {
  color: var(--menu-icon-crl);
  font-size: 20px;
}
.search-input-menubar {
  display: flex;
  align-items: center;
  gap: 10px;
}
.mobile-search-icon{
  color: var(--search-icon-crl);
}
.desktop-search-input {
  display: none;
}
.notification-profile-container {
  display: flex;
  align-items: center;
  gap: 20px;
}
.notification-icon-container {
  position: relative;
}
.red-dot {
  position: absolute;
  top: 0;
  left: 10px;
  width: 5px;
  border-radius: 100%;
  padding: 5px;
  background-color: #eb5757;
}
.notification-bell-icon {
  max-width: 20px;
  width: 100%;
  color: var(--bell-icon-crl);
  cursor: pointer;
}
.profile-container {
  display: flex;
  align-items: center;
  gap: 10px;
}
.profile-avarter img {
  max-width: 40px;
  width: 100%;
  cursor: pointer;
}
.name-role {
  display: none;
}
.name {
  font-weight: 600px;
  font-size: 14px;
  line-height: 19.12px;
  color: var(--title-bold-crl);
}
.role {
  font-weight: 400px;
  font-size: 14px;
  line-height: 19.12px;
  color: var(--parag-span-link-crl);
}
.menubar-icon {
  cursor: pointer;
}
@media screen and (min-width: 1024px) {
  .menubar-icon-container {
    display: none;
  }
}
@media screen and (min-width: 820px) {
  .name-role {
    display: flex;
    flex-direction: column;
    gap: 2px;
    cursor: pointer;
  }
  .mobile-search-icon-container {
    display: none;
  }
  .desktop-search-input {
    position: relative;
    display: block;
  }
  .desktop-search-icon {
    position: absolute;
    top: 5px;
    left: 5px;
    color: var(--search-icon-crl);
    cursor: pointer;
  }
  .desktop-search-input input {
    border: none;
    background-color: var(--bg-input);
    outline: none;
    padding: 6px 150px 6px 25px;
    border-radius: 8px;
  }
}

/* header style end */

/* sideBar style  */
#sidebar {
  grid-area: sidebar;
  position: fixed;
  width: 250px;
  height: 100%;
  overflow-y: auto;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: var(--bg-hearder-sidebar);
}
.show-sidebar {
  display: inline !important;
  position: absolute;
  z-index: 1000 !important;
}
.close-icon {
  color: var(--close-menu-crl);
  display: none;
}
.sidebar-content {
  display: flex;
  flex-direction: column;
}
.logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px 0px 10px;
  margin-bottom: 25px;
}
.close-icon {
  font-size: 20px;
  cursor: pointer;
}
.logo {
  display: flex;
  align-items: center;
  gap: 9px;
}
.logo img {
  width: 34.54px;
}
.logo span {
  font-weight: 700;
  font-size: 24px;
  line-height: 34.15px;
  color: var(--title-bold-crl);
}
.nav-container .sidebar-link {
  display: flex;
  flex-direction: column;
}
.links {
  padding: 20px 20px 20px 20px;
}
.links a {
  width: 200px;
  border-radius: 12px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 700;
  font-size: 16px;
  line-height: 22.31px;
  color: var(--parag-span-link-crl);
  padding: 10px;
}
.links a:hover {
  color: var(--parag-span-link-active-focus-crl);
  background-color: var(--bg-parag-span-link-crl);
}
.active-links a {
  color: var(--parag-span-link-active-focus-crl);
  background-color: var(--bg-parag-span-link-crl);
}
@media screen and (max-width: 992px) {
  #sidebar {
    display: none;
    width: 280px;
  }
  .close-icon {
    display: inline;
  }
}
/* sideBar style end */

/* main syle */
.main {
  grid-area: main;
  overflow-y: auto;
  background-color: var(--bg-main);
  height: 100%;
}
.main-container {
  max-width: 1300px;
  width: 100%;
  margin-top: 2rem;
  padding: 0 1rem;
}
/* main syle end */
