.dashboard-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.dashboard-title {
  margin-bottom: 1rem;
  font-weight: 700;
  font-size: 25px;
  line-height: 34.15px;
  color: var(--title-bold-crl);
}
.dashboard-head {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.dashboard-head-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 13px; */
  border-radius: 15px;
  padding: 10px 22px 10px 22px;
  background-color: var(--bg-cards);
}
.title-result {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.card-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 19.12px;
  color: var(--parag-span-link-crl);
}
.result {
  font-weight: 700;
  font-size: 24px;
  line-height: 32.78px;
  color: var(--title-bold-crl);
}
@media screen and (min-width: 1024px) {
  .dashboard-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .dashboard-head-cards {
    gap: 20px;
  }
}
/* dashboard grid */
.dashboard-grid-container {
  display: grid;
  gap: 1.5rem;
}
.grid-item {
  /* max-width: 100%; */
  border-radius: 15px;
  padding: 30px 20px;
  background-color: var(--bg-cards);
}
@media screen and (min-width: 1024px) {
  .dashboard-grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    margin-top: 1.3rem;
    margin-bottom: 1.5rem;
  }
  .total-revenue-span-2 {
    grid-column: span 2;
  }
}
/* dashboard grid end */

/* total revenue style */
.total-revenue-span-2 {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.total-revenue-head {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.total-revenue-title-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.total-revenue-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 24.59px;
  color: var(--title-bold-crl);
}
.total-revenue-head-right {
  display: flex;
  align-items: center;
  gap: 31px;
}
.total-revenue-icon-container-desktop{
  display: none;
}
.eclipse-1 {
  width: 13px;
  padding: 10px;
  border-radius: 50%;
  background-color: var(--bg-ellipse-1);
}
.eclipse-2 {
  width: 13px;
  padding: 10px;
  border-radius: 50%;
  background-color: var(--bg-ellipse-2);
}
.last-month {
  display: flex;
  align-items: center;
  gap: 5px;
}
.last-month p {
  font-weight: 600;
  font-size: 12px;
  line-height: 16.39px;
  color: var(--parag-span-link-crl);
}
.running-month {
  display: flex;
  align-items: center;
  gap: 5px;
}
.running-month p {
  font-weight: 600;
  font-size: 12px;
  line-height: 16.39px;
  color: var(--parag-span-link-crl);
}
.total-revenue-icon {
  color: #808191;
}
.total-revenue-content {
  display: flex;
  align-items: center;
  gap: 38px;
}
.revenue h4 {
  font-weight: 700;
  font-size: 28px;
  line-height: 38.25px;
  color: var(--title-bold-crl);
}
.revenue-percentage {
  display: flex;
  align-items: center;
  gap: 14px;
}
.percentage-month {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.percentag-rise {
  width: 20px;
  padding: 5px 6px 5px 6px;
  border-radius: 20px;
  background-color: var(--bg-ellipse-3);
  color: var(--clr-bcg-4);
}
.arrow-up {
  width: 8px;
}
.percentage {
  font-weight: 500;
  font-size: 15px;
  line-height: 20.49px;
  color: var(--price-crl-2);
}
.month {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: var(--parag-span-link-crl);
}
@media screen and (min-width: 768px) {
  .total-revenue-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .total-revenue-icon-container-desktop{
    display: flex;
  }
  .total-revenue-icon-container-mobile{
    display: none;
  }
}
/* total revenue end */

/* property referrals style */
.property-referrals {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.property-referrals-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 24.59px;
  color: var(--title-bold-crl);
}
.property-referrals-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.refferals {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.progress-label-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.referral {
  font-weight: 500;
  font-size: 16px;
  line-height: 21.86px;
  color: var(--title-bold-crl);
}
.number-of-referral {
  font-weight: 500;
  font-size: 16px;
  line-height: 21.86px;
  color: var(--title-bold-crl);
}
/* property referrals end */

/* top agents style */
.top-agent {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.top-agent-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.8rem;
}
.top-agent-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 24.59px;
  color: var(--title-bold-crl);
}
.view-all-btn {
  cursor: pointer;
  border: 1px solid var(--boder-crl);
  padding: 9px 15px 9px 15px;
  border-radius: 8px;
  color: var(--veiwall-btn-crl);
  background-color: var(--bg-veiwall-btn);
}
.top-agent-agents-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.option-menu-icon {
  color: var(--text-crl-3);
  cursor: pointer;
}
.top-agent-agents-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.agent-image-name-role-container {
  display: flex;
  align-items: center;
  gap: 10px;
}
.agent-name-role {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.agent-name {
  font-weight: 500;
  font-size: 14px;
  line-height: 19.12px;
  color: var( --title-bold-crl);
}
.agent-role {
  font-weight: 400;
  font-size: 12px;
  line-height: 16.39px;
  color: var(--parag-span-link-crl);
}
/* top agent end */

/* customers */
.customers-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
.customers-title{
  font-weight: 600;
  font-size: 18px;
  line-height: 24.59px;
  color: var(--title-bold-crl);
}
hr {
  width: 100%;
}
.option-menu-icon {
  color: var(--option-arrow-icon-crl);
  cursor: pointer;
}
.total-customers-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}
.total-customers {
  display: flex;
  justify-content: space-between;
}
.total-customers-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.total-customers-content p {
  font-weight: 600;
  font-size: 12px;
  line-height: 16.39px;
  color: var(--parag-span-link-crl);
}
.total-customers-figure {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.total-customers h4 {
  font-weight: 600;
  font-size: 26px;
  line-height: 35.52px;
  color: var(--title-bold-crl);
}
.total-customers span {
  font-weight: 600;
  font-size: 12px;
  line-height: 16.39px;
  color: var(--parag-span-crl-2);
}
.new-customers-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
}
.new-customers {
  display: flex;
  justify-content: space-between;
}
.new-customers-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.new-customers-content p {
  font-weight: 600;
  font-size: 12px;
  line-height: 16.39px;
  color: var(--parag-span-link-crl);
}
.new-customers-figure {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.new-customers h4 {
  font-weight: 600;
  font-size: 26px;
  line-height: 35.52px;
  color: var(--title-bold-crl);
}
.new-customers span {
  font-weight: 600;
  font-size: 12px;
  line-height: 16.39px;
  color: var(--parag-span-crl-2);
}
/* customers end*/

/* latest sales style */
.latest-sales {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.latest-sales-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.latest-sales-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 24.59px;
  color: var(--title-bold-crl);
}
.arrow-right-icon {
  cursor: pointer;
  color: var(--option-arrow-icon-crl);
}
.latest-sales-sales-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.latest-sales-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.apartment-name-locaion-container {
  display: flex;
  align-items: center;
  gap: 10px;
}
.apartment-name-locaion-container img{
  max-width: 100%;
  height: auto;
}
.apartment-name-location {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.agartment-name {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: var(--title-bold-crl);
}
.location {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: var(--parag-span-link-crl);
}
.price {
  font-weight: 600;
  font-size: 18px;
  line-height: 24.59px;
  color: var(--price-crl-2);
}
/* latest sales end */

/* property list style*/
.property-list-container {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 20px;
  margin-bottom: 1.5rem;
  border-radius: 15px;
  background-color: var(--bg-cards);
}
.property-list-head {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.property-list-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 24.59px;
  color: var(--title-bold-crl);
}
.property-container{
  margin-right: 3rem;
}
.property-list-cartigories-btn-container {
  display: flex;
  align-items: center;
  gap: 15px;
  flex-wrap: nowrap;
}
.cart-btn {
  border: none;
  border-radius: 6px;
  padding: 10px;
  font-weight: 500;
  color: var(--filter-btn-crl);
  background-color: var(--bg-filter-btn);
  cursor: pointer;
}
.cart-btn:hover {
  color: var(--filter-btn-active-hover-crl);
  background-color: var(--bg-filter-btn-active-hover);
}
.cart-btn-active {
  color: var(--filter-btn-active-hover-crl);
  background-color: var(--bg-filter-btn-active-hover);
}
.property-img-container img {
  max-width: 329px;
  width: 100%;
  aspect-ratio: 16 / 9;
  border-radius: 10px;
  margin-bottom: 20px;
}
.property-details-container {
  display: flex;
  align-items: center;
  gap: 71px;
}
.property-details-left {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.property-details-left h4 {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: var(--title-bold-crl);
}
.property-details-left p {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: var(--parag-span-link-crl);
}
.property-details-right {
  font-weight: 600;
  font-size: 12px;
  line-height: 16.39px;
  border-radius: 4px;
  padding: 7px 9px 7px 9px;
  color: var(--property-sales-price-crl);
  background-color: var(--bg-property-sales-price);
}
.arrow-container{
  width: 38px;
  border: none;
  border-radius: 20px;
  padding: 7px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  background-color: var(--bg-slider-container);
}
.next-arrow-icon{
  font-size: 25px;
  color: var(--slider-icon-crl);
}
.prev-arrow-icon{
  font-size: 25px;
  color: var(--slider-icon-crl);
}
@media screen and (min-width: 768px) {
  .right{
    position: absolute;
    right: -13px;
    top: 90px;
  }
  .left{
    position: absolute;
    left: -15px;
    top: 80px;
    z-index: 999;
  }
}
@media screen and (min-width: 540px) {
  .property-list-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .property-list-cartigories-btn-container {
    display: flex;
    align-items: center;
    gap: 15px;
  }
}
@media screen and (min-width: 360px) {
  .right{
    position: absolute;
    /* left: 245px; */
    right: -13px;
    top: 59px;
  }
  .left{
    position: absolute;
    left: -15px;
    top: 62px;
    z-index: 999;
  }
}
@media screen and (max-width: 344px) {
  .right{
    position: absolute;
    left: 245px;
    top: 55px;
  }
  .left{
    position: absolute;
    left: -15px;
    top: 62px;
    z-index: 999;
  }
}
@media screen and (max-width: 320px) {
  .right{
    position: absolute;
    left: 230px;
    top: 55px;
  }
  .left{
    position: absolute;
    left: -15px;
    top: 60px;
    z-index: 999;
  }
}
/* property list end*/
