:root {
  --bg-body: #ffff;
  --bg-main: #FCFCFC;
  --bg-hearder-sidebar: #ffff;
  --bg-input: #f4f4f4;
  --bg-cards: #ffffff;
  --bg-veiwall-btn: #ffffff;
  --bg-parag-span-link-crl: #475be8;
  --bg-property-sales-price: #dadefa;
  --bg-ellipse-1: #6c5dd3;
  --bg-ellipse-2: #cfc8ff;
  --bg-ellipse-3: #475be8;
  --bg-ellipse-arrow-up-crl: #fcfcfc;
  --bg-filter-btn: #F7F7F7;
  --bg-filter-btn-active-hover: #475be8;
  --bg-slider-container: #ffff;

  /* text colors */
  --search-icon-crl: #808191;
  --bell-icon-crl: #808191;
  --boder-crl: #ececec;
  --veiwall-btn-crl: ##808191;
  --bg-parag-span-link-crl: #475be8;
  --title-bold-crl: #11142d;
  --parag-span-link-crl: #808191;
  --parag-span-link-active-focus-crl: #FCFCFC;
  --parag-span-crl-2: #2ed480;
  --option-arrow-icon-crl: #cfc8ff;
  --hr-divider-crl: #e4e4e4;
  --price-crl-1: #2f80ed;
  --price-crl-2: #475be8;
  --menu-icon-crl: #000000;
  --close-menu-crl: #000000;
  --filter-btn-crl: #808191;
  --filter-btn-active-hover-crl: #FCFCFC;
  --property-sales-price-crl: #475BE8; 
  --slider-icon-crl: #11142D;
}

[data-theme="dark-theme"] {
  --bg-body: #111315;
  --bg-main: #111315;
  --bg-hearder-sidebar: #1a1d1f;
  --bg-input: #111315;
  --bg-bell: #6f767e;
  --bg-cards: #1a1d1f;
  --bg-veiwall-btn: #1a1d1f;
  --bg-parag-span-link-crl: #475be8;
  --bg-property-sales-price: #111315;
  --bg-ellipse-1: #6c5dd3;
  --bg-ellipse-2: #cfc8ff;
  --bg-ellipse-3: #475be8;
  --bg-filter-btn: #111315;
  --bg-filter-btn-active-hover: #475be8;
  --bg-slider-container: #111315;

  /* text colors */
  --search-icon-crl: #6F767E;
  --bell-icon-crl: #808191;
  --boder-crl: #272B30;
  --veiwall-btn-crl: #6F767E;
  --bg-parag-span-link-crl: #475be8;
  --title-bold-crl: #efefef;
  --parag-span-link-crl: #6F767E;
  --parag-span-crl-2: #2ed480;
  --option-arrow-icon-crl: #cfc8ff;
  --hr-divider-crl: #272B30;
  --price-crl-1: #2f80ed;
  --price-crl-2: #475be8;
  --filter-btn-crl: #808191;
  --menu-icon-crl: #ffffff;
  --close-menu-crl: #ffffff;
  --filter-btn-crl: #6F767E;
  --property-sales-price-crl: #475BE8; 
  --slider-icon-crl: #FCFCFC;

}
[data-theme="light-theme"] {
  --bg-body: #ffff;
  --bg-main: #FCFCFC;
  --bg-hearder-sidebar: #ffff;
  --bg-input: #f4f4f4;
  --bg-cards: #ffffff;
  --bg-veiwall-btn: #ffffff;
  --bg-parag-span-link-crl: #475be8;
  --bg-price-crl-1: #111315;
  --bg-property-sales-price: #dadefa;
  --bg-ellipse-1: #6c5dd3;
  --bg-ellipse-2: #cfc8ff;
  --bg-ellipse-3: #475be8;
  --bg-ellipse-arrow-up-crl: #fcfcfc;
  --bg-filter-btn: #F7F7F7;
  --bg-filter-btn-active-hover: #475be8;
  --bg-slider-container: #ffff;



  /*  */
  --search-icon-crl: #808191
  --bell-icon-crl: #808191;
  --boder-crl: #ffffff;
  --veiwall-btn-crl: #808191;
  --bg-parag-span-link-crl: #475be8;
  --title-bold-crl: #11142d;
  --parag-span-link-crl: #808191;
  --parag-span-crl-2: #2ed480;
  --option-arrow-icon-crl: #cfc8ff;
  --hr-divider-crl: #e4e4e4;
  --price-crl-1: #475BE8;
  --price-crl-2: #475be8;
  --menu-icon-crl: #000000
  --close-menu-crl: #000000;
  --filter-btn-crl: #808191;
  --filter-btn-active-hover-crl: #FCFCFC;
  --property-sales-price-crl: #475BE8; 
  --slider-icon-crl: #11142D;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}
body {
  font-family: "Manrope", sans-serif;
  background-color: var(--clr-bcg);
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}